* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body {
    overflow-x: hidden; 
}

.hero-main {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('images/cover4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.zoom {
    animation: zoom 8s ease-in-out;
}

@keyframes zoom {
    0% { background-size: 120%; }
    100% { background-size: 100%; }
}

.navbar-custom {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    width: 100%; /* Ensure navbar takes full width */
}

.logo {
    text-decoration: none;
    color: #e2c7db;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: 800;
    margin: 0 50px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links ul li {
    margin: 0 30px;
    text-transform: uppercase;
}

.nav-links ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #e2c7db;
}

.nav-links a:hover {
    color: #b87e98;
}

.btn-contact {
    width: auto;
}

.btn-contact button {
    
}

.btn-contact a {
    text-decoration: none;
    font-weight: bold;
    color: #e2c7db;
    text-transform: uppercase;
}

.toggle-btn {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1000; 
}

.toggle-btn i {
    font-size: 24px;
    color: #e2c7db;
    cursor: pointer;
}

@media (max-width: 900px) {
    .navbar-custom {
        padding: 10px 10px;
    }

    .logo {
        font-size: 30px;
    }

    .toggle-btn {
        display: block;
        padding: 10px 10px;
    }

    .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.3);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: none;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
    }

    .nav-links ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .nav-links ul li{
        margin-top: 20px;
        font-size: 1.2em;
    }
}

.hero-content {
    align-items: center; 
    padding: 50px 20px; 
    width: 60%;
    margin: 50px auto 0;
    text-align: center;
}

.hero-content h1 {
    color: #b4a8ae; 
    font-weight: bold;
    font-size: 40px; 
    line-height: 1.2; 
    text-transform: uppercase;
    
}

.hero-content p{
    color: #c9c7c8;
    margin: 10px  auto 10px;
    font-size: 25px;
    text-align: center;

}

.hero-content button{
    background-color: #b87e98;
    border: none;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.hero-content button a{
    text-decoration: none;
    padding: 10px 10px;
}